* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.btn {
  border-radius: 5px;
  border: 2px solid #ccc;
  background-color: #ccc;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: #ffffff;
}
.btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: red;
  transform: scale(0);
  transform-origin: top left;
  transition: transform 0.5s;
  z-index: 0;
}

.btn span {
  position: relative;
  z-index: 1;
}
.btn:hover::before {
  transform: scale(1);
  transform-origin: top left;
}
.btn:not(:hover)::before {
  transform-origin: bottom right;
}
